<!DOCTYPE html>
<meta http-equiv="refresh" content="30" >
<html lang="warning">
<head>
    <meta charset="UTF-8">
    <title>Warning Message</title>
    <link href="{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <caption class="text-warning"><h3>Warning Message</h3></caption>
                    <thead>
                        <tr class="warning">
                            <th>Time</th>
                            <th>IP</th>
                            <th>Device</th>
                            <th>Level</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for lstWarning in lstWarningList %}
                                <tr class="danger">
                             {% for status in lstWarning %}
                                  <td>{{ status }}</td>
                         {% endfor %}
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
                <!--确认按钮-->
                <form action="{{ url_for('home') }}" method="post">
                    <button name='error' type="submit" value="0" class="btn btn-primary">Confirm</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>
</html>
